{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi optio accusantium, asperiores repellendus aliquam repellat quasi dignissimos, atque quae veritatis ducimus commodi quidem animi tenetur obcaecati! Placeat illum sunt animi tempora accusamus aliquid sed esse porro assumenda. Ullam, blanditiis ipsa totam illo necessitatibus odio quae esse non sapiente officiis. Vero impedit aperiam delectus dicta perspiciatis ipsa voluptas, aspernatur distinctio ipsam quas eum blanditiis, commodi cumque consequatur vel saepe ducimus pariatur laboriosam reiciendis incidunt! Voluptatibus pariatur deleniti velit aut perspiciatis id quam, officia, ipsam ad ea eveniet. Ipsam enim qui ipsum quisquam nam blanditiis id, placeat veritatis dolore nulla quia.</p>

        <div class="text-center">
            <a href="/singin" class="btn btn-secondary">
                Signin
            </a>
            <a href="/singup" class="btn btn-dark">
                Signin
            </a>
        </div>
    </section>
</main>

{% endblock %}