{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Esta es una Aplicacion CRUD, sirve para guardar, eliminar o actualizar tareas, la cuales se pueden marcar como pendiente o completadas</p>

        <div class="text-center">
            <a href="/singin" class="btn btn-secondary">
                Signin
            </a>
            <a href="/singup" class="btn btn-dark">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}